.slide-desc-bg {
	background: #131313;
}
.slide-desc-text {
    border-top: 1px solid #ffffff;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
}
.slide-desc-text .slide-title {
	font-size: 1.5em;
	color: #eeee88;
	margin-bottom: 5px;
}
.slide-desc-text .slide-title a {
	color: #eeee88;
}
.djslider .navigation-container a {
	outline: none;
}
.djslider-loader {
	background: url(loader.gif) center center no-repeat;
}

.djslider li {
	text-align: center;
}

span.load-button {
	width: 12px;
	height: 12px;
	display: block;
	background: #334;
	float: left;
	margin-right: 4px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}
span.load-button-active {
	opacity: 0.8;
	filter: alpha(opacity = 60);
}


		/* Styles for DJ Image Slider with module id 27 */
		#djslider-loader27 {
			margin: 0 auto;
			position: relative;
			height: 561px; 
			width: 717px;
		}
		#djslider27 {
			margin: 0 auto;
			position: relative;
			height: 561px; 
			width: 717px;
			display: none;
		}
		#slider-container27 {
			position: absolute;
			overflow:hidden;
			left: 0; 
			top: 0;
			height: 561px; 
			width: 717px;			
		}
		#djslider27 ul#slider27 {
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}
		#djslider27 ul#slider27 li {
			list-style: none outside !important;
			float: left;
			margin: 0 !important;
			border: 0 !important;
			padding: 0 0px 0px 0 !important;
			position: relative;
			height: 561px;
			/* width: 717px; */
			background: none;
			overflow: hidden;
		}
		#slider27 li img {
			width: auto;
			height: 561px;
			border: 0 !important;
			margin: 0 !important;
		}
		#slider27 li a img, #slider27 li a:hover img {
			border: 0 !important;
		}
		
		/* Slide description area */
		#slider27 .slide-desc {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 717px;
		}
		#slider27 .slide-desc-in {
			position: relative;
		}
		#slider27 .slide-desc-bg {
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		#slider27 .slide-desc-text {
			position: relative;
		}
		#slider27 .slide-desc-text h3 {
			display: block !important;
		}
		
		/* Navigation buttons */
		#navigation27 {
			position: relative;
			top: 30px; 
			margin: 0 5px;
			text-align: center !important;
		}
		#prev27 {
			cursor: pointer;
			display: block;
			position: absolute;
			/*left: 0;*/
			right: 45px;
			
		}
		#next27 {
			cursor: pointer;
			display: block;
			position: absolute;
			right: 0;
			
		}
		#play27, 
		#pause27 {
			cursor: pointer;
			display: block;
			position: absolute;
			left: 47%;
			top: -99999px;
		}
		#cust-navigation27 {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 15;
			display: none;
		}

/*** image on the left and 100% height of description area ***/
/*
#slider45 li {
	text-align: left;
}
#slider45 .slide-desc,
#slider45 .slide-desc-in {
	height: 100%;
}
#slider45 .slide-desc-bg {
	opacity: 1;
	filter: alpha(opacity = 100);
}
*/
